@model Assistant_TEP.ViewModels.ResultModelView

@{
    ViewData["Title"] = "Результат";
}

    <h1>Результат</h1>
<a asp-controller="Reports" asp-action="Export" asp-route-id="@Model.ReportId">
    Вивантажити в ексель
</a>
<table class="table">
    <thead>
        <tr>
            @foreach(System.Data.DataColumn head in Model.results.Columns)
            {
                <th>@head.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow item in Model.results.Rows)
        {
            <tr>
                @for (int i = 0; i < Model.results.Columns.Count; i++)
                {
                    <td>@item[i]</td>
                }
            </tr>
        }
    </tbody>
</table>
