@{
    ViewData["Title"] = "Обмін інформацією з іншими організаціями";
}
<h2>@ViewData["Title"]</h2>
<h5>Обмін з УСЗН </h5>
<ul>
    <li><a asp-action="Pilg" asp-controller="Obmin">Запит про наявність боргу по оплаті за е/е УСЗН ТРДА пільговиків.</a></li>
    <li><a asp-action="Subs" asp-controller="Obmin">Запит про наявність боргу по оплаті за е/е УСЗН ТРДА субсидій.</a></li>
    <li><a asp-action="Pilga2" asp-controller="Obmin">Сформувати DBF-файл "2 - пільга"</a></li>
    <li><a asp-action="Zapyt" asp-controller="Obmin">Формування файлу для УСЗН відділу субсидій з новими особовими</a></li>
    <li><a asp-action="ZapytP" asp-controller="Obmin">Формування файлу для УСЗН відділу пільг з новими особовими</a></li>
</ul>

<h5>Тільки для УСЗН м. Тернопіль та Зборова </h5>
<ul>
    <li><a asp-action="Subsydia" asp-controller="Obmin">Надання інформації по абонентам в УСЗН ТРДА субсидій.</a></li>
</ul>

<h5>Формування файлу на "Укрспецінформ" </h5>
<ul>
    <li><a asp-action="Ukrspecinform" asp-controller="Obmin">Сформувати файл на "Укрспецінформ"</a></li>
</ul>

@if (User.Identity.Name == "admin")
 {
    <h5>Формування файлу на "Ощадбанк" </h5>
    <ul>
        <li><a asp-action="MoneySubs" asp-controller="Obmin">Монетизація субсидій та пільг на Ощадбанк</a></li>
    </ul>

    <h5>Формування файлу монетизованої пільги або субсидії, для імпорту в програму Утіліті!</h5>
    <ul>
        <li><a asp-action="Pilg_Subs_server" asp-controller="Obmin">Монетизація субсидій та пільг для району</a></li>
    </ul>
}

@if (ViewBag.BadOs != null)
{
    @if (ViewBag.BadOs == "badOs")
    {
        <script>
            setTimeout(() => alert("Є помилкові особові!"), 500);
        </script>
    }
}