@{
    ViewData["Title"] = "Обмін інформацією з іншими організаціями";
}
<h2>@ViewData["Title"]</h2>
<ul>
    <li><a asp-action="Pilg" asp-controller="Obmin">Запит про наявність боргу по оплаті за е/е УСЗН ТРДА пільговиків.</a></li>
    <li><a asp-action="Subs" asp-controller="Obmin">Запит про наявність боргу по оплаті за е/е УСЗН ТРДА субсидій.</a></li>
</ul>

<h5>Тільки для УСЗН м. Тернопіль </h5>    
<ul>
    <li><a asp-action="Subsydia" asp-controller="Obmin">Надання інформації по абонентам в УСЗН ТРДА субсидій.</a></li>
</ul>